body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('stars.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  background-color: #57918C;
  border: 0;
  margin: 0;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  text-align: center;
}
